modules = ["python-3.11:v25-20240224-f2a48d6"]
run = "python app.py"
entrypoint = "app.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[unitTest]
language = "python3"

[packager]
language = "python3"

[packager.features]
enabledForHosting = true
packageSearch = true
guessImports = true
